@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
  padding: 0;
}

body {
  /* background-image: url("../../images/river.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: center; */
}

main {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
